# AutoML

In [1]:
import pycaret
from IPython.display import Image, display
import pandas as pd

In [2]:
print(pycaret.__version__)

2.3.10

## Pycaret을 이용한 실습

### 01. 데이터 불러오기
- get_data() 함수로 데이터를 불러올 수 있음.

In [3]:
from pycaret.datasets import get_data
dataset = get_data('credit')

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,90000,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
2,50000,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
3,50000,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
4,50000,1,1,2,37,0,0,0,0,0,...,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0

In [4]:
print(dataset.shape)
dataset.head()
## target : default

(24000, 24)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,90000,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
2,50000,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
3,50000,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
4,50000,1,1,2,37,0,0,0,0,0,...,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0

In [9]:
dataset['default'].unique()

array([1, 0], dtype=int64)

In [10]:
dataset['default'].value_counts()

0    18694
1     5306
Name: default, dtype: int64

### 02. dataset를 train, test로 나누어주기

In [5]:
train = dataset.sample(frac=0.9, random_state=77)
test = dataset.drop(train.index)

train.shape, test.shape

((21600, 24), (2400, 24))

In [6]:
### index 재설정
train.reset_index(inplace=True, drop=True)
test.reset_index(inplace=True, drop=True)

display(train), display(test)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,80000,2,3,1,39,-1,-1,-1,0,-1,...,7309.0,2568.0,2199.0,780.0,6837.0,1000.0,2568.0,2199.0,4067.0,1
1,300000,2,1,1,45,-1,-1,-1,0,0,...,22056.0,14020.0,1230.0,10017.0,22456.0,0.0,0.0,1230.0,0.0,1
2,30000,2,3,3,48,0,0,2,0,0,...,24817.0,29220.0,17260.0,4000.0,0.0,10000.0,5000.0,1700.0,0.0,0
3,180000,1,1,1,37,1,-2,-2,-2,-1,...,0.0,2201.0,2201.0,0.0,0.0,0.0,2201.0,0.0,0.0,0
4,160000,2,2,1,31,3,2,2,0,0,...,136066.0,143005.0,129960.0,2000.0,5000.0,4600.0,14650.0,0.0,5100.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21595,80000,1,1,2,34,2,2,2,2,2,...,64682.0,65614.0,67007.0,2800.0,3000.0,2500.0,2600.0,2600.0,2600.0,1
21596,80000,1,1,2,33,0,0,0,0,-2,...,-2639.0,-2787.0,34732.0,5000.0,14016.0,0.0,2000.0,38000.0,6000.0,0
21597,20000,1,2,2,22,0,0,2,2,2,...,21178.0,20329.0,20853.0,3000.0,0.0,3000.0,0.0,1000.0,400.0,0
21598,80000,1,2,1,34,1,2,2,0,0,...,65047.0,66504.0,74360.0,3000.0,0.0,2400.0,2500.0,9000.0,0.0,0
21599,170000,1,1,1,38,1,-2,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,100000,2,2,2,23,0,-1,-1,0,0,...,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0
1,50000,2,3,2,30,0,0,0,0,0,...,17878.0,18931.0,19617.0,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,0
2,360000,1,1,2,33,0,0,0,0,0,...,628699.0,195969.0,179224.0,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0,0
3,400000,2,2,1,29,0,0,0,0,0,...,360199.0,356656.0,364089.0,17000.0,15029.0,30000.0,12000.0,12000.0,23000.0,0
4,200000,1,1,1,57,-2,-2,-2,-1,2,...,8174.0,8198.0,7918.0,0.0,0.0,8222.0,300.0,0.0,1000.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,50000,1,3,1,46,3,3,2,0,0,...,50033.0,9779.0,9924.0,0.0,7.0,1104.0,445.0,400.0,204.0,0
2396,360000,1,1,2,31,-1,-1,-1,0,0,...,18498.0,18422.0,1842.0,51.0,20007.0,1590.0,1000.0,1842.0,390.0,0
2397,50000,1,2,1,37,1,2,2,2,0,...,2846.0,1585.0,1324.0,0.0,3000.0,0.0,0.0,1000.0,1000.0,1
2398,50000,1,2,1,44,1,2,2,2,0,...,28192.0,22676.0,14647.0,2300.0,1700.0,0.0,517.0,503.0,585.0,0
2399,80000,1,2,2,34,2,2,2,2,2,...,77519.0,82607.0,81158.0,7000.0,3500.0,0.0,7000.0,0.0,4000.0,1

(None, None)

### 03. 설정
- **`set_up()`** 함수를 이용하여 사용할 데이터와 출력(target)를 설정
    - `session_id` : random_state와 같은 개념
    - `data` : 사용할 데이터 셋
    - `target` : 예측할 target 특징을 선택

In [7]:
from pycaret.classification import *

model_set = setup(data=train, target='default', session_id=123)

### 04. 모델 비교
- 모델을 비교한 이후에 결과가 출력된다. 각 metric별 가장 성능이 좋은 위치에 노락색으로 하이라이트 되어 출력이 된다.
    - fold : cross_validation의 fold를 지정(default=10)
    - sort : 정렬기준 지표 설정
    - n_select : 상위 n개의 모델 결과만 출력.

In [8]:
best_model = compare_models()

### 05. 하나의 모델 지정 후, 최적화
- create_model() : 하나의 모델을 최적화 시킨다.

### ✔ 모델의 종류

- lr : Logistic Regression
- knn, 'nb'(Naives Bayes), 'dt'(의사결정트리)
- svm, 'rbfsvm', 'gpc'(Gaussian Process Classifier)
- 'mlp', 'ridge'(Ridge Classifier), 'rf'
- 'qda', 'ada'(Ada Boost Classifier), 'lda', 'et'(Extra Trees Classifier), 'xgboost', 'lightdbm', 'catboost'

In [11]:
model_rf = create_model('rf')

### 06.모델의 하이퍼 파리미터 튜닝을 진행
- tune_model([model], optimize=[]) 함수를 사용하여 모델의 하이퍼 파라미터 튜닝 진행
- optimize : 평가 metric 지정

In [12]:
tunning_model = tune_model(model_rf)

In [13]:
tunning_model

RandomForestClassifier(bootstrap=False, ccp_alpha=0.0, class_weight={},
                       criterion='entropy', max_depth=5, max_features=1.0,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0002, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=10,
                       min_weight_fraction_leaf=0.0, n_estimators=150,
                       n_jobs=-1, oob_score=False, random_state=123, verbose=0,
                       warm_start=False)

### 07.여러 모델을 사용하여 새로운 모델을 생성(blending)
blend_models() 함수를 사용하여 여러 모델 혼합이 가능

In [14]:
dt = create_model('dt')  # 의사결정트리
rf = create_model('rf')  # RandomForest

blender_model_2 = blend_models(estimator_list = [dt, rf])

### 08. 5가지 모델 혼합

In [15]:
best_model_5 = compare_models(n_select=5)
blender_model_5 = blend_models(best_model_5)

### 09. 예측 수행
- finalize_model() : 최종 모델로 설정 후, 마지막 학습 진행
- predict_model() : 예측 결과를 'Label'변수에 저장

In [16]:
last_model = finalize_model(blender_model_5)

In [17]:
pred = predict_model(last_model, data=test)
pred[0:10]

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default,Label
0,100000,2,2,2,23,0,-1,-1,0,0,...,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0,0
1,50000,2,3,2,30,0,0,0,0,0,...,18931.0,19617.0,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,0,0
2,360000,1,1,2,33,0,0,0,0,0,...,195969.0,179224.0,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0,0,0
3,400000,2,2,1,29,0,0,0,0,0,...,356656.0,364089.0,17000.0,15029.0,30000.0,12000.0,12000.0,23000.0,0,0
4,200000,1,1,1,57,-2,-2,-2,-1,2,...,8198.0,7918.0,0.0,0.0,8222.0,300.0,0.0,1000.0,1,0
5,10000,1,2,1,56,2,2,2,0,0,...,4196.0,4326.0,2300.0,0.0,150.0,200.0,200.0,160.0,1,1
6,130000,2,3,2,29,1,-2,-2,-1,2,...,10161.0,7319.0,0.0,0.0,20161.0,0.0,7319.0,13899.0,0,0
7,280000,1,2,1,41,2,2,2,2,2,...,152174.0,149415.0,6500.0,0.0,14254.0,14850.0,0.0,5000.0,0,1
8,240000,1,1,2,28,-1,-1,-1,-1,-1,...,476.0,326.0,326.0,326.0,5676.0,476.0,326.0,526.0,0,0
9,180000,1,1,1,36,0,0,0,0,0,...,97753.0,95927.0,4655.0,2690.0,2067.0,2142.0,2217.0,1000.0,1,0

pred는 출력입니다. Label이라는 column이 생기며, 여기에 모델이 예측한 결과가 추가된다.

### 10. 평가

In [18]:
from pycaret.utils import check_metric
check_metric(test['default'], pred['Label'], metric='Accuracy')

0.8333

ref: https://pycaret.gitbook.io/docs/